@font-face {
    font-family: ElzaReg;
    src: url(assets/Elza\ Text\ Regular.woff2);
    line-height: 220%;
}
@font-face {
    font-family: ElzaRegOb;
    src: url(assets/Elza\ Text\ Oblique.woff2.woff2);
}
@font-face {
    font-family: ElzaLight;
    src: url(assets/Elza\ Text\ Light.woff2);
}
@font-face {
    font-family: ElzaLightOb;
    src: url(assets/Elza\ Text\ Light\ Oblique.woff2);
}
@font-face {
    font-family: ElzaBold;
    src: url(assets/Elza\ Text\ Bold.woff2);
}
@font-face {
    font-family: ElzaBoldOb;
    src: url(assets/Elza\ Text\ Bold\ Oblique.woff2);
}


button {
    font-family: ElzaReg;
    padding: 1%;

    background-color: #ffc125;
    border: #a17505 3px double;
    border-radius: 5%;
    /* border: ridge; */

    font-family: ElzaReg;


}

body {

    padding: 2%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: ElzaReg;
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 120%;
    

    background-color: (210,210,210);
}
.form {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 60%; */

    /* align-self: center; */
    /* align-content: center; */

    justify-self: center;
    /* justify-content: center; */
    /* justify-items: center; */

    /* border: 5px solid red; */

    font-family: ElzaReg;
}
.form form div {
    width: 100%;
    /* border: red dotted 2px; */
}
.p5 {
    padding: 0;
    margin: 0%;
}

/* form {

} */
form div input {
    width: 100%;
    margin-bottom: 3%;
    padding: 1%;
    /* height: 10vh; */
}

#container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    font-family: ElzaReg;
}

#pushbutton {
    background-color: orange;
    /* opacity: 50%; */
    transition: .3s;
}
#pushbutton:hover {
    /* opacity: 100%; */
    background-color: greenyellow;
}

.circleDiv {
    border: burlywood 3px double;
    width: 100%; 
    height: 100%;
    border-radius: 50%
}

.circle {
    width: auto;
    height: auto;
    border-radius: 50%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

canvas {
    display: block;
    background-color: aquamarine;
    /* width: 100px;
    height: 100px; */
    top: 0;
}
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}


.home {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-self: center;
}
#output div {
    margin: 2%;
    /* padding: 10%; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    background-color: #ffeec2;
}
#threebutts button {
    /* margin: 2%; */
}
strong {
    color: #706853;
    /* font-weight: bold; */
    font-family: ElzaLight;
}
.age-year-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}
.nopm {
    padding: 0% !important; 
    margin: 0% !important; 
}
.columns-container {
    display: flex;
    /* gap: 20px;  */
        /* Spacing between columns */
    
    padding: 0% !important; 
    margin: 0% !important; 

    min-height: 77vh;
}
.left-column,
.right-column {
    flex: 1; 
        /* Each column takes equal width */
    display: flex;
    flex-direction: column;
    padding: 2% ; 
    margin: 2% ; 
    /* gap: 10px;  */
        /* Spacing between items in each column */
}